h1{
    color: black
}
.Header{
    background-color:#65D5F3;
    display:flex;
    justify-content: space-between;

}
.Grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Content{
    display:flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
}
body{
    background-color: #29B2D6;
}
a:link {
    color:coral;
}
a:visited{
    color:white
}
.Menu{
    display:flex;
    margin-right: 30px;
}
.Menu a{
    margin-left: 30px;
}

.Footer{
    display:flex;
    justify-content: flex-end;
}
.Projects{
    position:relative
}
.Projects p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0
}
.Projects:hover p{
    opacity:1
}
.Projects:hover img{
    opacity:0.33;
}